### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/node_modules
/node_modules/**
/coverage/**
bower_components/

### FRONTEND ###
.sass-cache/
.ssi-cache/

### DIST ###
frontend/dist/

### GH-PAGES TMP FILE ###
.grunt

nodemon.json

/.idea

/log
/*.log

config.json
config.js
