/* =================================
   BASE / TYPOGRAPHY
   ================================= */

//$header-top-margin: .2rem;
//$hr-margin: rem-calc(20) !default;


//h1.pnl-title {
//    padding-top: rem-calc(65) !important;
//}
//h2.hero {
//    padding-top: rem-calc(79) !important;   
//}
//h4.hero {
//    padding-top: rem-calc(24.4);
//}

.underline {
	text-decoration: underline;
}
