/* =================================
   PAGES / HOME 
   ================================= */

$triangle-border-left: rem-calc(38);
$triangle-border-right: rem-calc(38);
$triangle-border-bottom: rem-calc(38);
$triangle-pos-top: -$triangle-border-bottom;

.triangle-up {
    width: 0;
    height: 0;
    border-left: $triangle-border-left solid transparent;
    border-right: $triangle-border-right solid transparent;
    top: $triangle-pos-top + rem-calc(1); // overlap of 1px as chrome inconsistently leaves a 1px gap between pnl and triangle
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 20;
}

.pnl {
    // padding-top: rem-calc(65); not able to add padding to top as colours over before arrow up
    padding-bottom: rem-calc(40);
    // increase z-index so that cube rotate doesn't separate triangle from panel
    z-index: 12;
}

.pnl-title {
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(20);
}

.pnl-light-txt {
    
    h1, h2, h3, h4, p {
        color: $colr-txt;
        text-align: center;
    }
}
.pnl-dark-txt {
    
    h1, h2, h3, h4, p {
        color: $colr-txt-accent;
        text-align: center;
    }
}


// ********** 
// HERO PANEL 
// ********** 

.pnl-hero, #pnl-hero-colr-to-edge {
    background-color: $colr-pnl-hero;
    
    h1, h2, h3, h4 {
        color: $colr-txt;   
    }
    
    select {
        option {
            font-size: rem-calc(25) !important;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }
}
.h2-hero {
    padding-top: rem-calc(50);   
}
.h4-hero {
    padding-top: rem-calc(15);
}
.hero-continue {
    
    .button {
        padding: 0.5rem 1.75rem 0.8125rem 1.75rem; 
        width: 12rem;
        font-size: rem-calc(24);
        background-color: $purple;
    }
}

// *************** 
// MARKETING PANEL 
// *************** 

.pnl-marketing, #pnl-marketing-colr-to-edge {
    @extend .pnl;
    @extend .pnl-light-txt;
    background-color: $colr-pnl-marketing;
    position: relative;

    &:before {
        @extend .triangle-up;
        border-bottom: $triangle-border-bottom solid $colr-pnl-marketing;
    }
}

// *************** 
// CAUSES PANEL 
// *************** 

.pnl-causes, #pnl-causes-colr-to-edge {
    @extend .pnl;
    @extend .pnl-light-txt;
    background-color: $colr-pnl-causes;
    position: relative;
    
    &:before {
        @extend .triangle-up;
        border-bottom: $triangle-border-bottom solid $colr-pnl-causes;
    }
}

// *************** 
// MARKETERS PANEL 
// *************** 

.pnl-marketers, #pnl-marketers-colr-to-edge {
    @extend .pnl;
    @extend .pnl-light-txt;
    background-color: $colr-pnl-marketers;
    position: relative;
    
    &:before {
        @extend .triangle-up;
        border-bottom: $triangle-border-bottom solid $colr-pnl-marketers;
    }
}

// *************** 
// SUMMARY PANEL 
// *************** 

.pnl-summary, #pnl-summary-colr-to-edge {
    @extend .pnl;
    @extend .pnl-dark-txt;
    background-color: $colr-pnl-summary;
    position: relative;
 
    &:before {
        @extend .triangle-up;
        border-bottom: $triangle-border-bottom solid $colr-pnl-summary;
    }  
}

// *************** 
// TALKABOUT PANEL 
// *************** 

.pnl-talkabout, #pnl-talkabout-colr-to-edge {
    @extend .pnl;
    @extend .pnl-light-txt;
    background-color: $colr-pnl-talkabout;
    position: relative;
 
    &:before {
        @extend .triangle-up;
        border-bottom: $triangle-border-bottom solid $colr-pnl-talkabout;
    }  
}

// ****************
// CONTACT US PANEL 
// ****************

.pnl-contactus, #pnl-contactus-colr-to-edge {
    @extend .pnl;
    @extend .pnl-dark-txt;
    background-color: $colr-pnl-contactus;
    position: relative;
    
    &:before {
        @extend .triangle-up;
        border-bottom: $triangle-border-bottom solid $colr-pnl-contactus;
    }    
}

// *************** 
// SIGN UP PANEL 
// *************** 

.pnl-signup, #pnl-signup-colr-to-edge {
    @extend .pnl;
    @extend .pnl-light-txt;
    background-color: $colr-pnl-signup;
    position: relative;
    
    &:before {
        @extend .triangle-up;
        border-bottom: $triangle-border-bottom solid $colr-pnl-signup;
    }    
}




