/* =================================
   LAYOUT / FORMS
   ================================= */

#sign-in, #sign-up, #contact-us, #newsletter {
	margin: 0 auto;
	label {
		display: none;
	}
	a {
		color: $colr-txt-dark;
		display: block;
		margin: 0;
	}
	.txt-right {
		text-align: right;
		clear: both;
	}
	.button {
		width: 100%; 
	}
}

#sign-up {
	.inline-select {
		display: inline-block;
		label {
			display: inline-block;
		}
		select {
			width: auto;
			min-width: 7em;
		}
	}

}

#newsletter {
	.button {
		background-color: $colr-btn-newsleter;
		//width: 10em;
	}
}
